name: hugo

on:
  schedule:
    - cron: "0 0 * * *" # 每天在 00:00 執行
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      MEMORY: 4g
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        run: |
          echo "Installing dependencies"
          npm install
          echo "Building and pushing"
          npm run build && npm run node
          echo "Done"
        env:
          USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

      - name: Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git diff --cached --quiet || git commit -m "Update README.md"
          git push origin main

      - name: update description
        if: success()
        uses: peter-evans/dockerhub-description@v4
        env:
          USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ env.USERNAME }}/hugo

      - name: Keep workflow active
        run: |
          git fetch origin main
          if [ "$(git rev-parse HEAD)" = "$(git rev-parse origin/main)" ]; then
            echo "No new commit was created, creating an empty commit to keep active"
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git commit --allow-empty -m "chore: keep workflow active"
            git push origin main
          fi
